* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  color: #f7ebe8;
}
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 3.33rem 1fr 3.33rem 3.33rem;
}

#header {
  background-color: #e54b4b;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.content {
  color: #1b1b1e;
  background-color: #f5f5f5;
  line-height: 1.5;
  padding: 20px;
}
#nav ul {
  padding: 0px 10px;
  height: 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav,
#aside {
  background: #6d676e;
}
#nav ul a {
  text-decoration: none;
  color: #faa916;
  /* bigger screen */
  background: transparent;
  font-size: 20px;
  transition: color 2s ease;
  transition: background 2s ease;
}
#nav ul a:hover {
  color: #1b1b1e;
  background: transparent;
}
#aside {
  padding: 0 20px;
}
#aside ul {
  list-style-type: none;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#aside ul .fa {
  font-size: 25px;
  color: #faa916;
  transition: color 2s ease;
}
#aside ul .fa {
  font: #1b1b1e;
}
#footer {
  background: #1b1b1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 776px) {
  .container {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 75px 1fr 50px;
    grid-template-areas:
      "header header header"
      "navbar content aside"
      "footer footer footer";
  }
  #header {
    grid-area: header;
  }
  #nav {
    grid-area: navbar;
  }
  #nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
  }
  #nav ul a {
    width: 100px;
    text-align: center;
    display: block;
    padding: 10px;
  }
  #nav ul a:hover {
    background: #7e7880;
  }
  #aside ul {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #content {
    grid-area: content;
  }
  #aside {
    grid-area: aside;
  }
  #footer {
    grid-area: footer;
  }
}
